.sidebar {
  border: 2px solid black;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 178px;
}

.add-button {
  border: 1px solid black;
  font-size: 15px;
  height: 60px;
  padding: 10px;
  width: 100px;
}
